### Variable Names
1.latitude
2.longitude
3.time_received
4.vehicle_id
5.distance_along_trip
6.inferred_direction_id
7.inferred_phase
8.inferred_route_id
9.inferred_trip_id
10.next_scheduled_stop_distance
11.next_scheduled_stop_id

In [1]:
# Loading required libraries
%matplotlib inline
import csv
import pandas as pd
import glob
import matplotlib as matplotlib
import matplotlib.pylab as plt

In [2]:
# Getting filenames from the current working directory
filenames = glob.glob('./*.txt')

# Getting all the rows for a given busline
lines = []

def mtabusdata(filename, busline):
    with open(filename, 'r') as fi:
        reader = csv.DictReader(fi, delimiter='\t', quoting=csv.QUOTE_NONE)
        for row in reader:
            if row['inferred_route_id'].rsplit("_",1)[-1] == busline:
                yield row

for i in filenames:
    print i
    g = mtabusdata(i, 'M10')
    for i in g:
        lines.append(i)
    print len(lines)

.\MTA-Bus-Time_.2014-08-01.txt
21939
.\MTA-Bus-Time_.2014-08-02.txt
38972
.\MTA-Bus-Time_.2014-08-03.txt
52689
.\MTA-Bus-Time_.2014-08-04.txt
70767
.\MTA-Bus-Time_.2014-08-05.txt
92486
.\MTA-Bus-Time_.2014-08-06.txt
114689
.\MTA-Bus-Time_.2014-08-07.txt
134821

In [3]:
# Converting the list of dictionaries into a pandas dataframe
data_M10 = pd.DataFrame(lines)
print data_M10.shape
data_M10.head()

(134821, 11)

,distance_along_trip,inferred_direction_id,inferred_phase,inferred_route_id,inferred_trip_id,latitude,longitude,next_scheduled_stop_distance,next_scheduled_stop_id,time_received,vehicle_id
0,1535.395692597318,1,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-143500_M7_746,40.818868,-73.944795,92.56509633903624,MTA_401313,2014-08-01 04:00:06,6669
1,8497.30349682903,1,LAYOVER_DURING,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-139000_M7_745,40.766684,-73.981577,24.02000047720503,MTA_405376,2014-08-01 04:00:11,6399
2,5576.374408785021,0,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-140000_M7_737,40.809930,-73.951370,142.44838393622194,MTA_405182,2014-08-01 04:00:18,6423
3,5184.004313963465,1,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-141000_M7_740,40.790370,-73.965542,245.72562926534738,MTA_401333,2014-08-01 04:00:21,6365
4,2806.4172479574336,0,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-142000_M7_743,40.788460,-73.967104,118.64539903457626,MTA_401257,2014-08-01 04:00:32,3834

In [4]:
data_M10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134821 entries, 0 to 134820
Data columns (total 11 columns):
distance_along_trip             134821 non-null object
inferred_direction_id           134821 non-null object
inferred_phase                  134821 non-null object
inferred_route_id               134821 non-null object
inferred_trip_id                134821 non-null object
latitude                        134821 non-null object
longitude                       134821 non-null object
next_scheduled_stop_distance    134821 non-null object
next_scheduled_stop_id          134821 non-null object
time_received                   134821 non-null object
vehicle_id                      134821 non-null object
dtypes: object(11)
memory usage: 12.3+ MB

In [29]:
# Converting data types of few features
data_M10['distance_along_trip'] = data_M10['distance_along_trip'].astype(float)
data_M10['next_scheduled_stop_distance'] = data_M10['next_scheduled_stop_distance'].astype(float)
data_M10['time_received'] = pd.to_datetime(data_M10['time_received'])

# Splitting datetime into date and time features
tempDatetime = pd.DatetimeIndex(data_M10['time_received'])
data_M10['date'] = pd.to_datetime(tempDatetime.date)
data_M10['time'] = pd.to_datetime(tempDatetime.time)

# Splitting datetime into date and time
#data_M10['date'] = data_M10['time_received'].apply(lambda x:x.date())
#data_M10['time'] = data_M10['time_received'].apply(lambda x:x.time())

In [30]:
data_M10.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 134821 entries, 0 to 134820
Data columns (total 13 columns):
distance_along_trip             134821 non-null float64
inferred_direction_id           134821 non-null object
inferred_phase                  134821 non-null object
inferred_route_id               134821 non-null object
inferred_trip_id                134821 non-null object
latitude                        134821 non-null object
longitude                       134821 non-null object
next_scheduled_stop_distance    134821 non-null float64
next_scheduled_stop_id          134821 non-null object
time_received                   134821 non-null datetime64[ns]
vehicle_id                      134821 non-null object
date                            134821 non-null datetime64[ns]
time                            134821 non-null object
dtypes: datetime64[ns](2), float64(2), object(9)
memory usage: 14.4+ MB

In [31]:
data_M10.head()

,distance_along_trip,inferred_direction_id,inferred_phase,inferred_route_id,inferred_trip_id,latitude,longitude,next_scheduled_stop_distance,next_scheduled_stop_id,time_received,vehicle_id,date,time
0,1535.395693,1,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-143500_M7_746,40.818868,-73.944795,92.565096,MTA_401313,2014-08-01 04:00:06,6669,2014-08-01,04:00:06
1,8497.303497,1,LAYOVER_DURING,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-139000_M7_745,40.766684,-73.981577,24.020000,MTA_405376,2014-08-01 04:00:11,6399,2014-08-01,04:00:11
2,5576.374409,0,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-140000_M7_737,40.809930,-73.951370,142.448384,MTA_405182,2014-08-01 04:00:18,6423,2014-08-01,04:00:18
3,5184.004314,1,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-141000_M7_740,40.790370,-73.965542,245.725629,MTA_401333,2014-08-01 04:00:21,6365,2014-08-01,04:00:21
4,2806.417248,0,IN_PROGRESS,MTA NYCT_M10,MTA NYCT_MV_C4-Weekday-142000_M7_743,40.788460,-73.967104,118.645399,MTA_401257,2014-08-01 04:00:32,3834,2014-08-01,04:00:32

### Performing data and time analysis

In [28]:
# Looking at inferred_phase
data_M10.groupby(['date','inferred_phase']).size()

date        inferred_phase
2014-08-01  IN_PROGRESS       16859
            LAYOVER_BEFORE        7
            LAYOVER_DURING     2184
2014-08-02  IN_PROGRESS       15350
            LAYOVER_DURING     2090
2014-08-03  IN_PROGRESS       12620
            LAYOVER_DURING     1356
2014-08-04  IN_PROGRESS       15081
            LAYOVER_BEFORE        2
            LAYOVER_DURING     2326
2014-08-05  IN_PROGRESS       19007
            LAYOVER_BEFORE        3
            LAYOVER_DURING     2653
2014-08-06  IN_PROGRESS       19554
            LAYOVER_BEFORE        3
            LAYOVER_DURING     2707
2014-08-07  IN_PROGRESS       18134
            LAYOVER_BEFORE        4
            LAYOVER_DURING     2419
2014-08-08  IN_PROGRESS        2141
            LAYOVER_DURING      321
dtype: int64

In [33]:
# Checking for general distribution of total distance travelled and distance to next stop
layovers = data_M10.loc[data_M10['inferred_phase'].isin(['LAYOVER_BEFORE', 'LAYOVER_DURING']), :]
print layovers.shape

(16075, 13)